[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "actxps"]
	path = actxps
	url = https://github.com/mattheaphy/actxps
[submodule "mortSOA"]
	path = mortSOA
	url = https://github.com/mattheaphy/mortsoa
[submodule "offsetreg"]
	path = offsetreg
	url = https://github.com/mattheaphy/offsetreg
